@import "tailwindcss";

@theme {
  /* FONTOVI */
  --font-cormorant: var(--font-cormorant);
  --font-ovo: var(--font-ovo);
  --font-pinyon: var(--font-pinyon);

  /* BOJE */
  --green: #155a52;
  --deep-blue: #002650;
  --light-blue: #b7cfe2;
  --yellow: #f5a623;
  --coral: #f28c63;
  --shore: #f7f2e9;
}

@layer base {
  body {
    background-color: var(--shore);
  }
}

@layer utilities {
  .hero-image-sharp {
    /* Povećava kontrast rubova pri renderiranju u browseru */
    image-rendering: -webkit-optimize-contrast;
    /* Sprječava lagano "titranje" slike kod nekih animacija */
    backface-visibility: hidden;
  }
}

@layer components {
  .main-title {
    font-family: var(--font-cormorant);
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    @apply text-[70px];
  }
  .paragraph-one {
    font-size: 20px;
    font-family: var(--font-ovo);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
  }
  .paragraph-two {
    font-size: 18px;
    font-family: var(--font-ovo);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
  }
  .inner-links {
    font-family: var(--font-cormorant);
    font-weight: 800;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
    @apply hover:text-(--green);
  }

  .inner-links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .inner-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .elegant-subtitle {
    @apply text-[30px] font-pinyon;
  }
  .logo-wrapper {
    @apply my-4 mx-2;

    .logo-container {
      @apply flex gap-2 items-center w-fit;

      .logo-icon {
        @apply w-16 h-15;

        .logo-img {
          @apply w-full h-full object-cover;
        }
      }

      .logo-text-container {
        @apply flex flex-col items-center-safe font-cormorant uppercase;

        .logo-title {
          @apply text-2xl font-bold;
        }

        .logo-subtitle {
          @apply text-[16px] font-medium;
        }
      }
    }

    .nav-glass {
      @apply fixed top-0 left-0 w-full z-50 transition-all duration-500;

      /* Stil kad NIJE skrolano */
      @apply bg-transparent py-8;

      /* Stil kad JE skrolano */
      &.scrolled {
        @apply bg-white/80 backdrop-blur-lg py-4 shadow-sm border-b border-gray-100;

        .logo-text {
          @apply scale-90; /* Smanji logo malo kad se skrola */
        }
      }
    }
  }
  /* .inner-links {
    font-family: var(--font-cormorant);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0em;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.8;
  }

  .inner-links:hover {
    letter-spacing: 0.15em; /* Lagano širenje slova */
  /* opacity: 1;
  } */
}
