@import "tailwindcss";

@theme {
  /* FONTOVI */
  --font-cormorant: var(--font-cormorant);
  --font-ovo: var(--font-ovo);
  --font-pinyon: var(--font-pinyon);

  /* BOJE */
  --green: #155a52;
  --deep-blue: #002650;
  --light-blue: #b7cfe2;
  --yellow: #f5a623;
  --coral: #f28c63;
  --shore: #f7f2e9;
}

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: var(--shore);
    overflow-x: hidden;
  }
  body {
    background-color: var(--shore);
    max-width: 1800px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
  }
}
.main-subtitle {
  letter-spacing: 0.01em;
  font-family: var(--font-pinyon);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 400;
}

@layer utilities {
  .hero-image-sharp {
    /* Povećava kontrast rubova pri renderiranju u browseru */
    image-rendering: -webkit-optimize-contrast;
    /* Sprječava lagano "titranje" slike kod nekih animacija */
    backface-visibility: hidden;
  }
}

@layer components {
  .main-title {
    font-family: var(--font-cormorant);
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
  }

  .paragraph-one {
    font-family: var(--font-ovo);
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.01em;
    clear: both;
  }

  .paragraph-two {
    font-size: 18px;
    font-family: var(--font-ovo);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
  }
  .inner-links {
    font-family: var(--font-cormorant);
    font-weight: 800;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
    @apply hover:text-(--green);
  }

  .inner-links::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .inner-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

/* Definiramo animaciju */
@keyframes backgroundFadeIn {
  from {
    opacity: 0;
    transform: scale(1.05); /* Lagani zoom efekt za dodatni luksuz */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*  */
.bg-image-fade {
  animation: backgroundFadeIn 1.2s ease-out forwards;
}
